<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab Beta</ion-title>
    </ion-toolbar>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>The Beginning</ion-card-subtitle>
        <ion-card-title> Quote for the Day!</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit
        clean.
      </ion-card-content>
    </ion-card>
  </ion-header>
  <img
    src="https://www.bhindi.com/public/V4.0/brands/chanel/images/thumbnails/H0970%20(2)_medium.png"
    alt="watch"
    width="150"
    height="150"
  />
  <app-explore-container name="Tab 2 page"></app-explore-container>
</ion-content>
